.idea/
cmake-build*/
*.o
*.so
*.a
*.dat
**/rtl/obj_dir/
**/rtl/obj_dir/*
**/rtl/src/
**/rtl/src/*
**/rtl/include/
**/rtl/include/*
misc/riscv-isa-sim/
builtin/device/uart_rtl/rtl/obj_dir/VUartRx__verFiles.dat
builtin/device/uart_rtl/rtl/obj_dir/VTop__verFiles.dat
misc/axi/
