.idea/
cmake-build*/
*.o
*.so
*.a
*.dat
*.dtb
*.i64
**/rtl/obj_dir/
**/rtl/obj_dir/*
**/rtl/src/
**/rtl/src/*
**/rtl/include/
**/rtl/include/*
misc/riscv-isa-sim/
misc/riscv-gnu-toolchain/install
modules/device/uart_rtl/rtl/obj_dir/VUartRx__verFiles.dat
modules/device/uart_rtl/rtl/obj_dir/VTop__verFiles.dat
misc/axi/
build/
.cache/
build.bak/
misc/rootfs/
misc/minicpu_app/*.bin
